/* SECCION CONTACT */
.contacto{
    background:url("../img/web3.jpg");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}
.contacto .tituloFoto{
    margin-top: 25px;
    font-weight: 700;
}
.contacto .title p{          
    font-size: 2rem;
    color: white;
    text-shadow: 1px 5px 10px rgba($color: $cyanCeleste, $alpha: .5);
}
.contactForm{
    padding: 120px 50px;
    background: white;
    box-shadow: 0 25px 50px rgba(0,0,0,0.2);
    max-width: 500px;
    margin-top: 50px;
    border-radius: 5px;
}
.contactForm h6{
    color:$cyanCeleste;
    text-shadow: 0px 3px 5px rgba($color: $grisOscuro, $alpha: .3);
    font-size: 1.4rem;
    margin-bottom: 20px;
    font-weight: 700;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactForm .inputBox input,.contactForm .inputBox textarea{
    width: 100%;
    border: 1px solid $grisOscuro;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactForm .inputBox input[type=submit]{
    font-size: 1rem;
    color: #fff;
    background: $naranjaClaro;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: .5s;
    max-width: 100px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}