//VARIABLES
$naranjaClaro:#fcbd01;
$grisOscuro: #4b4b4b;
$cyanCeleste: #05d1d1;

//IMPORTAR
@import "generales";
@import "navbar";
@import "inicio";
@import "nosotros";
@import "mochilas";
@import "seccionFoto";
@import "clientes";
@import "contacto";
@import "footer";
@import "mediaQueri";
